@using Model;
@{

    Layout = null;
    Case item = ViewBag.Case;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @RenderPage("~/Views/Shared/Include.cshtml")
    <script src="../../Resource/edit.js"></script>


</head>
<body>
    <div class="easyui-panel" style="padding: 20px 20px;">
        @RenderPage("~/Views/Shared/upload.cshtml")
        @{Html.BeginForm(Session["Flag"] == "Create" ? "CaseCreate" : "CaseEdit", "Case", FormMethod.Post, new { name = "frm_edit", id = "frm_edit" });}
        <table class="detail_table" border="0" cellspacing="1" cellpadding="0" align="center" width="100%">
            <tr class="detail_tr">
                <td class="table_title" colspan="8">
                    专案信息表<br />
                    @Html.HiddenFor(i => item.ID)
                    @Html.HiddenFor(i => item.UserID)
                    @Html.HiddenFor(i => item.IsDeleted)
                </td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">案件名称：</td>
                <td class="detail_td2" colspan="3">@{if(Session["Flag"] == "Detail"){ @item.CaseName}else{@Html.TextBoxFor(i => item.CaseName, new { size = 60 })}}</td>
                <td class="detail_td1" colspan="1">案件代号：</td>
                <td class="detail_td2" colspan="3">@{if (Session["Flag"] == "Detail"){ @item.CaseCode}else{@Html.TextBoxFor(i => item.CaseCode, new { size = 60 })}}</td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">承办部门：</td>
                <td class="detail_td2" colspan="3">@{if(Session["Flag"] == "Detail"){ @item.UnderTakenDept}else{@Html.TextBoxFor(i => item.UnderTakenDept, new { size = 60 })}}</td>
                <td class="detail_td1" colspan="1">专案组负责人：</td>
                <td class="detail_td2" colspan="3">@{if(Session["Flag"] == "Detail"){ @item.UnderTaker}else{@Html.TextBoxFor(i => item.UnderTaker, new { size = 60 })}}</td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">涉案对象：</td>
                <td class="detail_td2" colspan="7">@{if (Session["Flag"] == "Detail"){ @item.TargetName}else{@Html.TextBoxFor(i => item.TargetName, new { size = 135 })}}</td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">立案时间：</td>
                <td class="detail_td2" colspan="7">@{if(Session["Flag"] == "Detail"){ @item.CaseFormedDate}else{@Html.TextBoxFor(i => item.CaseFormedDate, new { size = 30, @class = "easyui-datebox" })}}</td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">备注：</td>
                <td class="detail_td2" colspan="7">@{if(Session["Flag"] == "Detail"){ @item.Note}else{@Html.TextAreaFor(i => item.Note, new { cols = "100%", rows = "5" })}}</td>
            </tr>
            <tr class="detail_tr">
                <td class="detail_td1" colspan="1">暂扣视频：</td>
                <td class="detail_td2" colspan="7"><a href="/Case/Movie" class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" >查看</a>@Html.HiddenFor(i => item.Movie)</td>
            </tr>
            @RenderPage("~/Views/Shared/FileUpload.cshtml")
            

        </table>
        <p align="center">
            @if (Session["Flag"] == "Create")
            {
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="SubmitData()">保存</a>
            }
            else if (Session["Flag"] == "Edit")
            {
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="SubmitData()">修改</a>
            }
            <a href=“javascript:void(0);“ class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="history.back(-1); return false;">返回</a>
        </p>

        @{Html.EndForm();}
    </div>

</body>
</html>

<script type="text/javascript">

    function SubmitData() {
        if ($("#frm_edit").form('validate')) {
            $("#btnLogin").linkbutton("disable");
            $.messager.alert("操作提示", "操作成功！", "info", function (r) {
                setTimeout(function () { $('#frm_edit').submit() }, 0);
            });
        }
    }


</script>





  


