@using Model;
@{
    
    Layout = null;
    Users item = ViewBag.users;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @RenderPage("~/Views/Shared/Include.cshtml")
</head>
<body>
    <div class="easyui-panel" style="padding: 20px 20px;">
        <form method="post" name="frm_changePassword" action="/Admin/SavePassword" id="frm_changePassword">
            <table class="detail_table" border="0" cellspacing="1" cellpadding="0" align="center" width="100%">


                <tr class="detail_tr">
                    <td class="detail_td1" colspan="2"><div align="center"><strong>修改密码</strong></div>
                        @Html.HiddenFor(i => item.ID)
                        @Html.HiddenFor(i => item.CreatTime)
                        @Html.HiddenFor(i => item.DeptID)
                        @Html.HiddenFor(i => item.IsSys)
                        @Html.HiddenFor(i => item.LoginNum)
                        @Html.HiddenFor(i => item.LoginTime)
                        @Html.HiddenFor(i => item.RealName)
                        @Html.HiddenFor(i => item.UserName)
                        @Html.HiddenFor(i => item.RoleId)
                        @Html.HiddenFor(i => item.RoleKey)
                        @Html.HiddenFor(i => item.Region)
                        @Html.HiddenFor(i => item.IsDeleted)

                    </td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">用户名：</td>
                    <td class="detail_td2">@item.UserName</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">用户：</td>
                    <td class="detail_td2">@item.RealName</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">密码：</td>
                    <td class="detail_td2">@Html.PasswordFor(i=>item.Password)</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">确认密码：</td>
                    <td class="detail_td2"><input type="password" name="Repassword" id="Repassword" /></td>
                </tr>
            </table>
            <p align="center">
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="SubmitData()">修改密码</a>
            </p>
        </form>

    </div>
</body>
</html>
<script type="text/javascript">
    function SubmitData() {
        if ($("#item_Password").val() != $("#Repassword").val()) {

            $.messager.alert('错误', '两次输入的密码不一致!');

        } else {
            $.messager.confirm("确认", "确认修改密码吗？", function (r) {
                if (r) {

                    setTimeout(function () { $("#frm_changePassword").submit() }, 0);
                    return true;
                }
            });

        }


    }
</script>